<footer>

  <div class="social-media">

    <img src="public/assets/brand-facebook.png">
    <img src="public/assets/brand-instagram.png">
    <img src="public/assets/brand-twitter.png" width="10%">

  </div>
<div class="footer-tekst">
<P>Buurtcampus is een initiatief van Hogeschool van Amsterdam (HvA) en Openbare Bibliotheek Amsterdam (OBA).<br> Meer Buurtcampussen? Kijk op www.buurtcampusoost.nl of op www.buurtcampusnieuwwest.nl.</P> </div>
<img class="Union" src="assets/Union (3).png">
  </footer> 

</body>
</html>