<%- include('./partials/head') %>


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
  </head>
  
  <body>
  
    <header>
      <a href="index.html"><img class="header-logo" src="assets/buurtcampus-oost-logo.svg" alt="" width="300x"> </a>
  
  
      <ul>
        <li><a href="/index">HOME</a></li>
        <li><a href="/reserveren">RESERVEREN</a></li>
        <li><a href="/agenda">AGENDA</a></li>
        <li><a href="/informatie">INFORMATIE</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </header>
  
    <hr>
  
  
    <main>



<%- include('./partials/foot') %>