<%- include('./partials/head') %>


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
  </head>
  
  <body>
  
    <header>
      <a href="index.html"><img class="header-logo" src="assets/buurtcampus-oost-logo.svg" alt="" width="300x"> </a>
  
  
      <ul>
        <li><a href="/index">HOME</a></li>
        <li><a href="/reserveren">RESERVEREN</a></li>
        <li><a href="/agenda">AGENDA</a></li>
        <li><a href="/informatie">INFORMATIE</a></li>
        <li><a href="/contact">CONTACT</a></li>
      </ul>
    </header>
  
    <hr>
  
  
<main>

    <div class="stekje-toevoegen"> 
        <form method="post" action="/toegevoegd"class="stekje-form">
            <label for="naam">Voeg uw stekje toe!</label>
            <input type="text" placeholder="Naam van jouw stekje?" name="naam" required> 
            
            <label for="voeding">Voeding</label>
              <input type="text" placeholder="Wat is de voeding van jouw stekje?" name="voeding" required> 

            <label for="verpotten">verpotten</label> 
              <input type="text" placeholder="Verpotten?" name="verpotten" required>

            <label for="giftig">giftig</label> 
              <input type="text" placeholder="Is het giftig?" name="giftig" required>

            <label for="fotos">Foto's</label>
              <input type="text" placeholder="Foto's" name="fotos" required>

            <button id="add-button" type= "submit" value="default">Toevoegen</button>
        </form>
    </div>



</main>

<%- include('./partials/foot') %>