body{
    max-width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border-radius: 15px;
    height: 50px;
    width: 200px;
    background-color: rgb(12, 102, 12);
    border-color:rgb(12, 102, 12) ;
    color: white;
    
}
/* Header content */
header {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #333467;
font-family: arial;
border-color: #F26F21 solid 5px;


}

header {
    background: #ffffff; 
    padding: 10px;
 
}

header a .header-logo {
    display: flex;
    align-items: center;
}

/*  INTRO*/

.intro {
    display: flex;
   
}

.intro-tekst{
    margin-left: 10px;
}

.stekje-intro{
    margin-right: 10px;
}

.stekje-intro-img {
margin-bottom: 2em;
}
  
/*LOGO*/

.beforemain { 

    margin-top: 50px;
    align-items: center;
}

.header-logo {
    margin: 0;
    margin-left: 1em;
}

header > a {
    margin: 0;
    height: auto;
}

ul { 
    list-style: none;
    display:flex;
    align-items: center;
    font-size: 16px;
    right: 100px;
    top: 15px;
    font-weight: bold;
    margin-right: 3em;
}

li {
padding-left: 20px;
}



a {
    text-decoration: none;
    color:#000000;
    height: 25px;
    font-size: 16px;
    margin-top:25px;
    margin-bottom:25px;
    font-family:arial;
}

h3 {
    color: #000000;
    font-family: arial;
}

img {
     margin-top: 1em; 
     border-radius: 10%;

}
  
font{ 
    font-family: arial;
    font-size: 30px;
    font-style: normal;
    color: #000000; 
}

.titel{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
    
    
}

hr { 
    margin: 0;
    border-top: 6px dotted #F26F21;
    width: 100%;
}

h1 {
    color: white;
}

/*BUTTON*/  

.btn1{
    background-color: #333467;
    color: white;
}
h2 {
    font-size: 28px;
}



#content {
    justify-content: center;
}

main { 

display:flex;
flex-flow: column nowrap;
align-items: center;
align-content: stretch;

}

/*FOOTER*/

footer{
    margin-bottom: 0;
}

.footerImage{
    background-image:url("../assets/Union.svg");
    background-repeat:repeat-x;
    height:10vh;
}

.proces { 
 position: absolute;
 margin-top: 450px;
 align-items: center;

}

/* inschrijven */

.bg-model {
width: 100%;
height: 100%;
background-color:rgba(0,0,0,7);
opacity: 70%;
position: absolute;
top: 0;
display: flex;
justify-content: center;
align-items: center;
}
.modal-content {
    width: 500px;
    height: 300px;
    background-color:  rgba(85, 141, 65, 0.3); 
    border-radius: 4px;
    text-align: center;
    opacity: 100%;
    position: relative;
}
input {
    width:50%;
    display:block;
    margin: 15px auto;
    
    
}
.close {
    position:absolute;
    top:0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
  
}

/*FOOTER*/
.union {
margin-bottom: 0em;
border-radius: 0px;

}

.footer-tekst > p {
    text-align: center;
    font-size: small;
}





/* FORM*/ 

form {

    width: 30%;
    border-radius: 15px;
    position: relative;
    background-color: #333467;
}

.center {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background-color: #333467;
    border-radius: 10px;
}

.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form {

    padding: 0 40px;
   box-sizing: border-box;

}
.txt_field {
    background-color: white;
    border-radius: 15px;
    width: 70%;
    height: 90%;
    margin-left: 3px;
}

form .txt_field { 
    position: relative;
    border-bottom: 2px solid;
    margin: 30px 0 ;
   

}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}




.txt_field label { 
    position: relative;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translate(-50%);
    font-size: 16px;
    pointer-events: painted;
    transition: .5s;
    margin-bottom: 5px;
}

.txt_field  span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
   
    transition:.5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #F26F21;
}

.txt_field input:focus ~ span ::before,
.txt_field input:valid ~ span ::after {
    width:100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #F26F21;
    cursor: pointer;
    margin-top: 5px;
}

.pass:hover {
    text-decoration: underline;
}

input [type="submit"]{
    width: 100%;
    height: 50px;
    border: 1 px solid;
    background: #333467;
    border-radius: 25px;
    font-size: 18px;
    color: #F26F21;
    font-weight: 700;
    cursor: pointer;
    outline:none;
}

input [type="submit"] :hover{
    border-color: #F26F21;
    transition: .5s;

}

.signup_link {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    color: #ffffff ;
}
.signup_link a{
    color: #ffffff;
    text-decoration: none;
}

.signup_link a:hover{
    text-decoration: underline;
}

/*STEKJES*/


.stekjes-container-intro{
    padding-top: 100px;
    text-align: center;
    background-color:#333467;
    color: white;
    width: 100%;
}
.stekjes-container-intro > h1{
    color: white;
    font-weight: 600;
    font-size: 40px;
    width: 100%;
}
.stekjes-container1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color:#333467;
        width: 100%;
        align-items: flex-start;
}
.stekjes-container1 > div{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: 20px;
        text-align: center;
        background-color: white;
        border-radius: 20px;
        margin-top: 100px;
        padding:10px;
      }   
.stekjes-container1 > div > img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        justify-content: center;
        display: flex;
        width:100%;
        margin-bottom: 1em;
      }

.around {
    height: 600px;
    width: 600px;
    background: #F26F21;
    border-radius: 25px;
    margin-top: 80px;
}

